html,body{
    /* 悼念日灰色蒙版 */
    /* filter: grayscale(100%); */
    /* filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); */
    height: 100%;
    width: 100%;;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: #ffffff;
}

header{
    height: 126px;
    width: 100%;
    display: flex;
    align-items: center;
}
#header{
    /* HCLASS启动器 */
    display: flex;
    align-items: center;
    padding-left: 50px;
    width: 800px;
    height: 126px;
    font-family: SourceHanSansCN-Bold;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0em;
    color: #000000;
}
main{
    margin: 0px;
    padding: 0px;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* margin-right: 50px; */
    padding-left: 50px;
    overflow-x: scroll;
}
/* 修改滚动条样式css */
main::-webkit-scrollbar-thumb{
    background-color: #ff41417c;
    border-radius: 10px;
	width: 5px;
}
main::-webkit-scrollbar{
    background-color: #00000000;
    height: 5px;width: 5px;
}

.card{
    /* card背景 */
    width: 350px;
    height: 520px;
    background: #FFDFDF;
    padding-left: 20px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.inCardHeader{
    /* 随机点人 */
    color: #FF4141;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}
#headerInRandomNumberBuilder{
    /* 随机点人 */
    width: 209px;
    height: 50px;
    font-family: SourceHanSansCN-Bold;
    letter-spacing: 0em;
}
.inCardText{
    font-size:20px;
    color: #777777;
    width:300px;
    position: relative;
    top: 250px;
}
#textInRandomNumberBuilder{
    width:300px;
    height: auto;
}
#buttonBox{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:220px;
    left: -13px;
}
.useButton{
    /* 矩形 11 */
    width: 218px;
    height: 56px;
    border-radius: 10px;
    background: #FF4141;
    border: none;
    font-size: 25px;
    color:white;
}
.useButton:hover{
    animation: useButtonChange 0.1s forwards;
}
@keyframes useButtonChange{
    to{
        box-shadow:0px 0px 11px hsl(0, 100%, 19%);
    }
}
.useButton:active{
    animation: buttonActiveChange 0.1s forwards;
}
@keyframes buttonActiveChange{
    to{
        background-color: #a1ff55;
        box-shadow: none;
        color: #000000;
    }
}
.inButtonText{
    color: #ffffff;
    text-decoration: none;
    display: block;
    height: 100%; width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inButtonText:active{
    color:black;
}
.secondaryFunction{
    height: 70px;
    width: 320px;
    border-radius: 10px;
    background-color: #FF7979;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}
.inSecondaryFun{
    color:white;
    font-size: 25px;
}
.secondaryFunButton{
    height: 35px;
    width: 80px;
    background-color: #FF4141;
    border: none;
    border-radius:5px;
    position: relative;
    right: -60px;
    font-size: 20px;
    color: white;
}
.secondaryFunButton:hover{
    animation: secButtonChange 0.1s forwards;
}
@keyframes secButtonChange{
    to{
        background-color: #a1ff55;
        color:black;
    }
}
#textInShowScreen{
    position: relative;
    top:250px;
}
.footer{
    height: 80px;
    width: 100%;
    margin: 0px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}
.inFooter{
    height: 10px;
    margin: 0px;
    width: 100%;
    font-size: 10px;
    margin-bottom: 8px;
    padding-left: 20px;
}
.headerButton{
    /* 矩形 11 */
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    background: #FF4141;
    border: none;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerButton:hover{
        background-color: #a1ff55;
}
.headerButtonBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 50px;
}
.headerImg{
    height: 90%;width: 90%;
}

.modalBoxAlert{
    display: flex;
    flex-direction: column;padding: 15px;
    z-index: 100;
    height: 50%;width: 40%;
    margin-top: 50px;
    border-radius: 10px;background-color: rgb(255, 255, 255);
    box-shadow:0px 0px 11px hsla(0, 0%, 20%, 0.698);
    position: absolute;
    top:0px;left: 50%;
    transform: translate(-50%);
    transition-duration: 0.3s;
}
#modalButtonClose{
    position: absolute;
    right: 10px;top:10px;
}
.modalAlertHeader{
    height: 60px;width: 100%;
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px gray solid; 
    font-size: 35px;
    color:#FF4141;padding-bottom: 5px;
}
.modalAlertMain{
    /* border:1px grey solid; */
    flex: 1;
    font-size: 25px;
}


/* 900px */
@media screen and (max-width: 700px){
	body{
		display: flex;
		justify-content: unset;
	}
	#header{
		font-size: 50px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.headerButtonBox{
		display: none;
	}
	.card{
		border-radius: 10px;
		margin: 10px;
		height: 90px;
	}
	.inCardText{
		display: none;
	}
	#buttonBox{
		position: relative;
		top:-45px;left: 105px;
	}
	.useButton{
		height: 45px;
		width: 80px;
	}
	.inCardHeader{
		font-size: 35px;
		display: flex;align-items: center;
	}
	#timer{
		height: 370px;
	}
	main{
		display: flex;flex-direction: column;
		align-items: center;padding: 0;
		overflow-x: hidden;flex: 1;
	}
	.footer{
		display: none;
	}
	#aboutMore{
		display: none;
	}
}

/* 400px */
@media screen and (max-width: 400px){
	#header{
		font-size: 40px;
	}
	.card{
		width: 80%;
	}
	.secondaryFunction{
		width: 90%;
	}
	.secondaryFunButton{
		position: relative;
		left: 35px;
	}
	.inSecondaryFun{
		font-size: 20px;
	}
	.useButton{
		position: relative;
		right: 25px;font-size: 20px;
	}
	.inCardHeader{
		font-size: 25px;
		position: relative;
		top:8px;
	}
}